.container{
    width:500px;
    padding:20px 15px;
    margin:0px auto;
}

.btn{
    padding:8px 14px;
    color:black;
    border-radius: 5px;
}

.btn-wrapper{
    margin-top:100px;
}

.orange{
    background-color: orange;
}

.aqua{
    background-color: aqua;
    margin-left:50px;
}